html, body{ height:100%; }
body {
	color:#111;
	font-size:14px;
}
#app { 
    height:100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-align:stretch;
}
#footer {
	border-top:solid 1px #ccc;
	padding:10px;
	text-align:right;
}
#content {
    -webkit-box-flex:1;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-align:stretch;
}

#main {
    -webkit-box-flex:1;
    padding:5px;
}
/* menu */
#menu{
	padding-left:10px;
	width:85px;
	border-right:solid 1px #ccc;
	background:#e3e6ed;
	position:relative;
}
#menu ul{
	position: absolute;
	right:-1px;
	z-index:1;
}
#menu ul li{
	color:#555;
	margin: 10px 0;
	text-align:center;
	padding:10px;
	width:65px;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#DDD));
    border: solid 1px #BBB;
	border-right: solid 1px #ccc;
    border-top-left-radius: 8px 8px;
    border-bottom-left-radius: 8px 8px;
    -webkit-box-shadow: -1px 1px rgba(0,0,0,.1);
}
#menu ul li:hover{
	cursor:pointer;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ddd), to(#fff));
}
#menu ul li.active{
	color:#333;
	background:#fff;
	border-right:solid 1px #fff;
	text-shadow: 0px 1px 1px #000;
	font-size:15px;
}
#menu ul li.active:hover{
	cursor:default;
}
#menu ul li a{
	text-decoration:none;
}

#main .item{
	display:none;
}

#footer .minibutton{
	font-size:16px;
	padding:6px 20px;
	margin:0 10px;
}
