html{ height:100%; }
body {
	-webkit-box-flex: 1;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-align: stretch;
	
	color:#111;
	font-size:14px;
	width:100%;
	height:100%;
}
/* menu */
aside.menu{
	padding-left:10px;
	width:85px;
	height:100%;
	border-right:solid 1px #ccc;
	background:#e3e6ed;
	position:relative;
}
aside.menu ul{
	position: absolute;
	right:-1px;
	z-index:1;
}
aside.menu ul li{
	color:#555;
	margin: 10px 0;
	text-align:center;
	padding:10px;
	width:65px;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#DDD));
    border: solid 1px #BBB;
	border-right: solid 1px #ccc;
    border-top-left-radius: 8px 8px;
    border-bottom-left-radius: 8px 8px;
    -webkit-box-shadow: -1px 1px rgba(0,0,0,.1);
}
aside.menu ul li:hover{
	cursor:pointer;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ddd), to(#fff));
}
aside.menu ul li.active{
	color:#333;
	background:#fff;
	border-right:solid 1px #fff;
	text-shadow: 0px 1px 1px #000;
	font-size:15px;
}
aside.menu ul li.active:hover{
	cursor:default;
}
aside.menu ul li a{
	text-decoration:none;
}

/* main */
div.main{
	padding:10px;
}
