#longtext{
	width:100%;
	height:300px;
}

#longtextWarp p {
    margin-top: 2px;
}

#longtextWarp label {
    margin-left: 10px;
}

#btnPrevLongText {
    margin-left: 20px;
}

#longtextPreview {
    display: none;
}
